@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    background-image: url("./images/dontask.jpg");
    margin: 0;
}

@keyframes sonic {
    25% {filter: saturate(3);}
    50% {filter: saturate(2);}
    75% {filter: saturate(4);}
    100% {filter: saturate(1)}
}

.header {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    padding: 15px;
}

.header-logo {
    height: auto;
    max-width: 48px;
}

ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 16px; 
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.info {
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
    padding: 200px 100px 100px 100px;
}

.info-head {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.info-mid {
    color: #E5E7EB;
    font-size: 18px;
}

.info-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.sonic-joe {
    border: 2px solid #1F2960;
    border-radius: 8px;
    height: auto;
    max-width: 500px;
    animation-name: sonic;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    text-align: center;
    color: #F9FAF8;
    opacity: 0.6;
    cursor: not-allowed;
}

.button-link {
    cursor: not-allowed;
}

/* button:hover {
    background-color: #3881f6a6;
}

Didn't use these in the end

button:active {
    background-color: #3881f657;
} */

.tile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 100px;
}

.tile-header {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 36px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 38px;
}

.tile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 250px;
    gap: 16px;
}

.tile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    border: 5px solid #3882F6;
    overflow:hidden;
}

.tile-info {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    text-align: center;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 180px;
    background-color: #E5E7EB;
}

.quote {
    display: grid;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    flex-wrap: wrap;
}

.banner {
    display: flex;
    margin: 80px 400px;
    background-color: #3882F6;
    border-radius: 18px;
    padding: 40px 30px;
    justify-content: space-around;
}

.banner-info {
    display: flex;
    color: #F9FAF8;
    flex-direction: column;
    gap: 4px;
}

.banner-header, .banner-text {
    display: flex;
}

.banner-header {
    font-size: 24px;
}

.banner-button {
    display: flex;
    border-color: solid white;
    border: 1px solid white;
    border-radius: 8px;
}

.footer {
    display: flex;
    background-color:#1F2937;
    justify-content: center;
    align-items: center;
    padding: 24px;
    color: white;
}